############
## Electron
############

bower_components/
node_modules/
dist/

# electron-packager
release-builds/

#files
*.tgz
*.log

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Environmental construction
win-env.bat

############
## MacOS
############

# PhpStorm
.idea/*

# Visual Studio Code
.vscode/*

# Mac crap
.DS_Store

# Repository Avater for SourceTree
icon.png

# Mac Folder
Mac/*

# Environmental construction
mac-env.command

############
## Others
############

# private temporary directory and files
_*/
_*
